{% extends "index.html" %}
{% load staticfiles %}

{% block main %}
<!-- Begin Container -->
  <div id="container" class="opacity">
    <div class="content">
      <h2>Свяжитесь с нами</h2>
      <p>Если у Вас возникли вопросы или проблемы, Вы можете связатся с нами отправив нам письмо.</p>
      <br />
      <br />
      <br />
      <div class="form-container">
        <form class="forms" action="contact/form-handler.php" method="post">
          <fieldset>
            <ol>
              <li class="form-row text-input-row">
                <label>Имя*</label>
                <input type="text" name="name" value="" class="text-input required" title="" />
              </li>
              <li class="form-row text-input-row">
                <label>Email*</label>
                <input type="text" name="email" value="" class="text-input required email" title="" />
              </li>
              <li class="form-row text-area-row">
                <label>Сообщение*</label>
                <textarea name="message" class="text-area required"></textarea>
              </li>
              <li class="form-row hidden-row">
                <input type="hidden" name="hidden" value="" />
              </li>
              <li class="button-row">
                <input type="submit" value="Отправить" name="submit" class="btn-submit" />
              </li>
            </ol>
            <input type="hidden" name="v_error" id="v-error" value="Required" />
            <input type="hidden" name="v_email" id="v-email" value="Enter a valid email" />
          </fieldset>
        </form>
        <div class="response"></div>
      </div>
      <br />
    </div>
    <div class="sidebar">
      <div class="sidebar-box">
        <h4>Наш адрес</h4>
        <p>Украина, г.Киев-00001,
ул.Плехановская, д.18<br>
          <br>
          <span class="lite1">Факс:</span> +555 797 534 01<br>
          <span class="lite1">Tел:</span> +555 636 646 62<br>
          <span class="lite1">E-mail:</span> name@domain.com</p>
      </div>
      <div class="sidebar-box">
        <h4>Где мы?</h4>
        <iframe width="265" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=40.959289,29.082184&amp;spn=0.012963,0.022659&amp;z=14&amp;output=embed"></iframe>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer">
      <div class="footer-top"></div>

      <div class="clear"></div>
    </div>
  </div>
  <!-- End Container -->
{% endblock %}
