{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="ru-Ru">
<head>
    <title>SiteNews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'style/images/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'style/color/red.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style/css/prettyPhoto.css' %}"  />
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/jquery.slider.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style/type/museo.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'style/type/ptsans.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'style/type/charis.css' %}" media="all" />
<!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/ie7.css' %}" media="all" />
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/ie8.css' %}" media="all" />
<![endif]-->
<!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="{% static 'style/css/ie9.css' %}" media="all" />
<![endif]-->
    <script type="text/javascript" src="{% static 'style/js/jquery-1.6.2.min.js' %}"></script>
{% block js %}
{% endblock %}
    <script type="text/javascript" src="{% static 'style/js/ddsmoothmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/transify.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/jquery.jcarousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/twitter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/jquery.prettyPhoto.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/jquery.superbgimage.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/jquery.slickforms.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/jquery.slider.js' %}"></script>
    
    <script type="text/javascript">
        jQuery(document).ready(function($){
             $('.forms').dcSlickForms();
        });
    </script>
    <script type="text/javascript">
         jQuery(document).ready(function($) {
             $(".slider").slideshow({
             width      : 900,
             height     : 400,
             transition : 'ExplodeRandom'
             });
         });
    </script>
	{% block script %}
	{% endblock %}
</head>

<body>

<!-- Fullscreen backgrounds -->
<div id="thumbs">
    <a href="{% static 'style/images/art/bg1.jpg' %}"></a>
</div>

<div id="superbgimage">
    <div class="scanlines"></div>
</div>
<!-- End Fullscreen backgrounds -->

<!-- Begin Wrapper -->
<div id="wrapper">
    <div id="header">
        <div class="logo opacity"><a href="{% url 'index' %}"><img src="{% static 'style/images/logo.png' %}" alt="" /></a></div>
    </div>
    <div class="clear"></div>

<!-- Begin Menu -->
    <div id="menu" class="menu opacity">
    <ul>
        <li><a href="{% url 'index' %}" class="active">Главная</a></li>
        <li><a href="{% url 'index' %}">Економика</a>
      	<ul>
      	    <li><a href="{% url 'index' %}">Международная</a></li>
      	</ul>
        </li>
        <li><a href="{% url 'fullwidth' %}">Спорт</a>
        <ul>
            <li><a href="{% url 'fullwidth' %}">Бокс</a></li>
      	    <li><a href="{% url 'portfolio-post' %}">Тенис</a></li>
            <li><a href="{% url 'portfolio-post' %}">Плаванье</a></li>
            <li><a href="{% url 'portfolio-post' %}">ММА</a></li>
        </ul>
        </li>
        <li><a href="{% url 'blog' %}">Политика</a></li>
      <li><a href="{% url 'portfolio' %}">Медиа-новости</a></li>
      <li><a href="{% url 'contact' %}">Контакты</a></li>
    </ul>
    <br style="clear: left" />
  </div>
  <!-- End Menu --> 
{% block main %}  
  <!-- Begin Container -->
  <div id="container" class="opacity"> 
    
    <!-- Begin Showcase -->
    <div class="slider">
      <div>
        <div class="caption">Заголовок или слоган первой новости.</div>
        <img src="{% static 'style/images/art/s1.jpg' %}" alt=""/>
      </div>
      
      <div>
      	<div class="caption">Заголовок или слоган второй новости.</div>
        <img src="{% static 'style/images/art/s2.jpg' %}" alt=""/>
      </div>
      
      <div>
      	<div class="caption">Заголовок или слоган третей новости.</div>
        <img src="{% static 'style/images/art/s3.jpg' %}" alt=""/>
      </div>
      
      <div>
        <div class="caption">Заголовок или слоган четвертой новости.</div>
        <img src="{% static 'style/images/art/s4.jpg' %}" alt=""/>
      </div>
    </div>
    <!-- End Showcase -->
    
    <div class="intro"><b><i>Здесь будет какой-то слоган, или главная ШОКИРУЮЩАЯ новость дня или недели!</i></b></div>
    <div class="hr2"></div>
    <!-- Divider --> 
    
    <!-- Begin Blog -->
    <div class="blog"> 
      
      <!-- Begin Posts -->
      <div class="content"> 
        
        <!-- Begin Post -->
        <div class="post"> 
          
          <!-- Begin Post Info -->
          <div class="post-info"> 
            <!-- Begin Date -->
            <div class="post-date"> <span class="day">15</span> <span class="month">Мая</span> <span class="year">2016</span> </div>
            <!-- End Date --> 
            <!-- Begin Title -->
            <div class="post-title">
              <h1><a href="{% url 'post' %}">Название новости</a></h1>
              <div class="post-meta"> <span class="comments"><i>Короткий слоган новости</i></span></div>
            </div>
            <!-- End Title --> 
          </div>
          <!-- End Post Info -->
          
          <div class="post-text"> <a href="{% url 'post' %}"><img src="{% static 'style/images/art/post1.jpg' %}" alt="" /></a> <br />
            <p>Даже с языками, использующими латинский алфавит, могут возникнуть. Ему нести совсем необязательно планируется использовать в различных. Контент – написание символов на кириллический контент – написание символов на сайтах. Буквы встречаются с использованием lorem в книгопечатании. Связанные с использованием lorem на кириллический контент – написание. Просмотра шрифтов, абзацев, отступов и даже с разной частотой, имеется разница. Знает, что такое текст-рыба качестве рыбы текст на кириллический контент. Пределах добра и слова, получив текст-рыбу широко. В кириллице значительно различается ...<a class="more">Читать полностью →</a></p>
          </div>
          <!-- End Text --> 
        </div>
        <!-- End Post --> 
        
        <!-- Begin Post -->
        <div class="post"> 
          
          <!-- Begin Post Info -->
          <div class="post-info"> 
            <!-- Begin Date -->
            <div class="post-date"> <span class="day">14</span> <span class="month">Мая</span> <span class="year">2016</span> </div>
            <!-- End Date --> 
            <!-- Begin Title -->
            <div class="post-title">
              <h1><a href="{% url 'post' %}">Название новости</a></h1>
              <div class="post-meta"> <span class="comments"><i>Короткий слоган новости</i></span></div>
            </div>
            <!-- End Title --> 
          </div>
          <!-- End Post Info -->
          
          <div class="post-text"> <iframe src="http://player.vimeo.com/video/24573328?title=0&amp;byline=0&amp;portrait=0" width="595" height="335" frameborder="0"></iframe> <br />
            <p>Отсюда напрашивается вывод, что впервые его применили в качестве рыбы текст. Более того, есть специальные генераторы, создающие собственные варианты. Появляется возможность получить более длинный неповторяющийся набор слов. вида контента, просмотра шрифтов. Или иные буквы встречаются с языками использующими. С разной частотой, имеется разница в книгопечатании еще в качестве рыбы текст. Интернет-страницы и даже с языками, использующими латинский... <a class="more">Читать полностью →</a></p>
          </div>
          <!-- End Text --> 
        </div>
        <!-- End Post --> 
        
        
        
        <!-- Begin Post -->
        <div class="post"> 
          
          <!-- Begin Post Info -->
          <div class="post-info"> 
            <!-- Begin Date -->
            <div class="post-date"> <span class="day">13</span> <span class="month">Мая</span> <span class="year">2016</span> </div>
            <!-- End Date --> 
            <!-- Begin Title -->
            <div class="post-title">
              <h1><a href="{% url 'post' %}">Название новости</a></h1>
              <div class="post-meta"> <span class="comments"><i>Короткий слоган новости</i></span></div>
            </div>
            <!-- End Title --> 
          </div>
          <!-- End Post Info -->
          
          <div class="post-text"> <a href="{% url 'post' %}"><img src="{% static 'style/images/art/post3.jpg' %}" alt="" /></a> <br />
            <p>Даже с языками, использующими латинский алфавит, могут возникнуть. Ему нести совсем необязательно планируется использовать в различных. Контент – написание символов на кириллический контент – написание символов на сайтах. Буквы встречаются с использованием lorem в книгопечатании. Связанные с использованием lorem на кириллический контент – написание. Просмотра шрифтов, абзацев, отступов и даже с разной частотой, имеется разница. Знает, что такое текст-рыба качестве рыбы текст на кириллический контент. Пределах добра и слова, получив текст-рыбу широко. В кириллице значительно различается ...<a class="more">Читать полностью →</a></p>
          </div>
          <!-- End Text --> 
        </div>
        <!-- End Post -->
        
        <!-- Begin Page Navi -->
    			<div class="page-navi">
    				<p>Страница 1 из 3</p>
    				<ul>
    					<li><a href="#" class="current">1</a></li>
    					<li><a href="#">2</a></li>
    					<li><a href="#">3</a></li>
    				</ul>
    			</div>
    			<!-- End Page Navi -->
        
      </div>
      <!-- End Posts --> 
      
      <!-- Begin Sidebar -->
      <div class="sidebar">
      <div class="sidebar-box">
      <h4>Последние новости</h4>
      <ul class="latest-posts">
          <li><span class="date"><em class="day">16</em><em class="month">Мая</em></span> <a href="#">Название новости или какой-то короткий текст из новости</a> </li>
          <li><span class="date"><em class="day">16</em><em class="month">Мая</em></span> <a href="#">Название новости или какой-то короткий текст из новости</a> </li>
          <li><span class="date"><em class="day">15</em><em class="month">Мая</em></span> <a href="#">Название новости или какой-то короткий текст из новости</a> </li>
          <li><span class="date"><em class="day">14</em><em class="month">Мая</em></span> <a href="#">Название новости или какой-то короткий текст из новости</a> </li>
        </ul>
        
      </div> 
       <div class="sidebar-box">
      <h4>Место для рекламы или для еще одной новости</h4>
      <a href="#"><img src="{% static 'style/images/art/recl.jpg' %}" alt="" /></a>
	  </div>

      <div class="sidebar-box">
      <h4>Категории</h4>
      <div class="cat-list">
      <ul>
      	<li><a href="#">Все новости<span>24</span></a></li>
      	<li><a href="#">Политика<span>12</span></a></li>
      	<li><a href="#">Спорт<span>5</span></a></li>
      	<li><a href="#">Медиа-новости<span>3</span></a></li>
      	<li><a href="#">Економика<span>4</span></a></li>
      </ul>
      </div>
      </div>
      
      <div class="sidebar-box">
      <h4>Спонсоры</h4>
      <ul class="ads">
		<li><a href="#"><img src="{% static 'style/images/art/ad1.jpg' %}" alt="" /></a></li>
		<li><a href="#"><img src="{% static 'style/images/art/ad2.jpg' %}" alt="" /></a></li>
		<li><a href="#"><img src="{% static 'style/images/art/ad3.jpg' %}" alt="" /></a></li>
		<li><a href="#"><img src="{% static 'style/images/art/ad4.jpg' %}" alt="" /></a></li>
      </ul>
      </div>
     
      
      </div>
      <!-- End Sidebar --> 
    </div>
    <!-- End Blog -->
    
    <div class="clear"></div>
    <br />
    <br />
    <br />
    
    <!-- Begin 4 Columns -->
    <div class="clear"></div>
    <div class="hr1"></div>
    <!-- Divider --> 
    
    <!-- Begin Latest Works -->
    <h2>Последние новости</h2>
    <div class="carousel">
      <div id="carousel-scroll"><a href="#" id="prev">Предыдущая</a><a href="#" id="next">Следующая</a></div>
      <ul>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c1.jpg' %}" alt="" /> </a> </li>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c2.jpg' %}" alt="" /> </a> </li>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c3.jpg' %}" alt="" /> </a> </li>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c4.jpg' %}" alt="" /> </a> </li>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c5.jpg' %}" alt="" /> </a> </li>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c6.jpg' %}" alt="" /> </a> </li>
      </ul>
    </div>
    <!-- End Latest Works -->
    
    <div id="footer">
      <div class="footer-top"></div>

      <div class="clear"></div>
    </div>
  </div>
  <!-- End Container -->
{% endblock %}  
  <div id="copyright" class="opacity">
    <p>© 2016 Название сайта. Все права защищены.</p>
  </div>
</div>
<!-- End Wrapper --> 

<script type="text/javascript" src="{% static 'style/js/scripts.js' %}"></script>
</body>
</html>