{% extends "index.html" %}
{% load staticfiles %}

{% block main %}   
  <!-- Begin Container -->
  <div id="container" class="opacity"> 
    <!-- Begin Blog -->
    <div class="blog"> 
      
      <!-- Begin Posts -->
      <div class="content"> 
        
        <!-- Begin Post -->
        <div> 
          
          <!-- Begin Post Info -->
          <div class="post-info"> 
            <!-- Begin Date -->
            <div class="post-date"> <span class="day">15</span> <span class="month">Мая</span> <span class="year">2016</span> </div>
            <!-- End Date --> 
            <!-- Begin Title -->
            <div class="post-title">
              <h1><a href="{% url 'post' %}">Название новости</a></h1>
              <div class="post-meta"> <span class="comments"><i>Короткий слоган новости</i></span></div>
            </div>
            <!-- End Title --> 
          </div>
          <!-- End Post Info -->
          
          <div class="post-text"><img src="{% static 'style/images/art/post1.jpg' %}" alt="" /><br />
            <p>Даже с языками, использующими латинский алфавит, могут возникнуть. Ему нести совсем необязательно планируется использовать в различных. Контент – написание символов на кириллический контент – написание символов на сайтах. Буквы встречаются с использованием lorem в книгопечатании. Связанные с использованием lorem на кириллический контент – написание. Просмотра шрифтов, абзацев, отступов и даже с разной частотой, имеется разница. Знает, что такое текст-рыба качестве рыбы текст на кириллический контент. Пределах добра и слова, получив текст-рыбу широко.</p>
          <br />
            <br />
            <blockquote>Pellentesque non diam et tortor dignissim bibendum. Neque sit amet mauris egestas quis mattis velit fringilla. Curabitur viver justo sed scelerisque.</blockquote>
            <br />
            <br />
            <p>И даже с языками, использующими латинский алфавит, могут возникнуть небольшие проблемы: в различных языках те или иные буквы встречаются с разной частотой, имеется разница в длине наиболее распространенных слов. Отсюда напрашивается вывод, что все же лучше использовать в качестве «рыбы» текст на том языке, который планируется использовать при запуске проекта. Сегодня существует несколько вариантов Lorem ipsum, кроме того, есть специальные генераторы, создающие собственные варианты текста на основе оригинального трактата, благодаря чему появляется возможность получить более длинный неповторяющийся набор слов.</p>
            <br />
            <br />
            <h4>Ненумерованый список</h4>
            <ul>
              <li>Mauris lacinia dui non metus dignissim venenatis.</li>
              <li>Etiam elit tellus, condimentum tempor lobortis non.</li>
              <li>Aliquam pharetra vestibulum arcu, eget iaculis. </li>
            </ul>
            <br />
            <br />
            <p> Mettre а прямо заграничной разливки, очень весело послал. Свияжскому поддержкой на выборы и нужно было найти представителя того нового. Приехал на земских выборах, и винами не выразить восторга. Назад, если он знакомился делался. Жена, желающая с лакеями в конце обеда. Ожидал, чтоб отплатить свияжскому поддержкой. Обедов faire jouer le télégraphe поверку сумм нового направления. Переносил свою неудачу весело провел время и более кити щербацкой, который. </p>
            <br />
            <br />
            <h4>Пронумерованый список</h4>
            <ol>
              <li>Mauris lacinia dui non metus dignissim venenatis.</li>
              <li>Etiam elit tellus, condimentum tempor lobortis non.</li>
              <li>Aliquam pharetra vestibulum arcu, eget iaculis.</li>
            </ol>
            <br />
            <br />
		  </div>
          <!-- End Text --> 
        </div>
        <!-- End Post --> 
      </div>
      <!-- End Posts --> 
      
      <!-- Begin Sidebar -->
      <div class="sidebar">
      <div class="sidebar-box">
      <h4>Последние новости</h4>
      <ul class="latest-posts">
          <li><span class="date"><em class="day">16</em><em class="month">Мая</em></span> <a href="#">Название новости или какой-то короткий текст из новости</a> </li>
          <li><span class="date"><em class="day">16</em><em class="month">Мая</em></span> <a href="#">Название новости или какой-то короткий текст из новости</a> </li>
          <li><span class="date"><em class="day">15</em><em class="month">Мая</em></span> <a href="#">Название новости или какой-то короткий текст из новости</a> </li>
          <li><span class="date"><em class="day">14</em><em class="month">Мая</em></span> <a href="#">Название новости или какой-то короткий текст из новости</a> </li>
        </ul>
        
      </div> 
       <div class="sidebar-box">
      <h4>Место для рекламы или для еще одной новости</h4>
      <a href="#"><img src="{% static 'style/images/art/recl.jpg' %}" alt="" /></a>
	  </div>

      <div class="sidebar-box">
      <h4>Категории</h4>
      <div class="cat-list">
      <ul>
      	<li><a href="#">Все новости<span>24</span></a></li>
      	<li><a href="#">Политика<span>12</span></a></li>
      	<li><a href="#">Спорт<span>5</span></a></li>
      	<li><a href="#">Медиа-новости<span>3</span></a></li>
      	<li><a href="#">Економика<span>4</span></a></li>
      </ul>
      </div>
      </div>
      
      <div class="sidebar-box">
      <h4>Спонсоры</h4>
      <ul class="ads">
		<li><a href="#"><img src="{% static 'style/images/art/ad1.jpg' %}" alt="" /></a></li>
		<li><a href="#"><img src="{% static 'style/images/art/ad2.jpg' %}" alt="" /></a></li>
		<li><a href="#"><img src="{% static 'style/images/art/ad3.jpg' %}" alt="" /></a></li>
		<li><a href="#"><img src="{% static 'style/images/art/ad4.jpg' %}" alt="" /></a></li>
      </ul>
      </div>
     
      
      </div>
      <!-- End Sidebar --> 
    </div>
    <!-- End Blog -->
    
    <div class="clear"></div>
    <br />
    <br />
    <br />
    
    <!-- Begin 4 Columns -->
    <div class="clear"></div>
    <div class="hr1"></div>
    <!-- Divider --> 
    
    <!-- Begin Latest Works -->
    <h2>Последние новости</h2>
    <div class="carousel">
      <div id="carousel-scroll"><a href="#" id="prev">Предыдущая</a><a href="#" id="next">Следующая</a></div>
      <ul>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c1.jpg' %}" alt="" /> </a> </li>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c2.jpg' %}" alt="" /> </a> </li>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c3.jpg' %}" alt="" /> </a> </li>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c4.jpg' %}" alt="" /> </a> </li>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c5.jpg' %}" alt="" /> </a> </li>
        <li> <a href="#"> <span class="overlay details"></span><img src="{% static 'style/images/art/c6.jpg' %}" alt="" /> </a> </li>
      </ul>
    </div>
    <!-- End Latest Works -->
    
    <div id="footer">
      <div class="footer-top"></div>

      <div class="clear"></div>
    </div>
  </div>
  <!-- End Container -->
{% endblock %}